@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .base-container {
    @apply mx-auto w-full max-w-[1200px] px-12;
  }
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-2 {
    -webkit-text-stroke: 5px white;
  }
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SCDream4';
  src: url('./assets/fonts/SCDream4.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'SCDream4';
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
  background: #f4f2ed;
  border-radius: 10px;
}

/* 핸들에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
